ul,
li,
body,
html {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
}

.lights-warpper {
  width: 88px;
  margin: auto;
  padding: 12px;
  border-radius: 50px;
  background-color: #333;
}

.light {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background-color: #666;
}

.light+.light {
  margin-top: 12px;
}

.red {
  background-color: crimson;
}

.yellow {
  background-color: gold;
}

.green {
  background-color: limegreen;
}
